body {
    background-color: #ccc;
}

.app {
    width: 600px;
    height: 600px;
    background-color: #fff;
}

.app-reverse {
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 300px;
}

.font-color-yellow {
    color: yellow;
}

.font-color-blue {
    color: blue;
}

.app img, .app-reverse img{
    width: 100%;
}

button {
    display: block;
    padding: 10px;
    border: none;
    background-color: aqua;
    margin: 20px auto;
}